<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title><%= t("site.title") %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
  <%- if current_user %>
    <p>You are logged in as <%= current_user.name %> (<%= current_user.email %>). <%= link_to "Logout", logout_path %></p>
  <%- else %>
    <p>You are not logged in yet. <%= link_to "Login", "/auth/developer" %></p>
  <%- end %>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
